* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
  font-family: gilroy;
  src: url(assets/fonts/Gilroy-ExtraBold.otf);
}

body {
  font-family: gilroy;
  background-color: #e4e4e4;
}

::root {
	--primary-color: #e4e4e4;
}

/* Navigation Bar Goes Here */
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	transition: all .3s ease;
}

nav.active {
	background: rgba(244,247,253,.6);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    padding: 12px 0;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1174px;
	margin: auto;
}

nav ul li {
	padding: 12px 25px;
	position: relative;
}

nav ul li ul {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	display: block;
	left: 0;
	transition: all .3s ease;
	width: max-content!important;
}

nav ul li:hover ul {
	visibility: visible;
	opacity: 1;
}

nav ul li ul li {
	border: 0!important;
}

nav ul li ul li a {
	text-decoration: none;
    color: white;
    font-size: 18px!important;
    font-weight: unset!important;
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-size: 18px;
}

nav ul li a {
	border-bottom: 2px solid white;
}

nav ul li:last-child {
	border: 2px solid white;
	border-radius: 25px;
}

nav ul li:last-child a {
	border-bottom: 0;
}

nav ul li:first-child a {
	border-bottom: 0;
	font-size: 24px;
	font-weight: 900;
	width: 50px;
}

nav ul li:first-child a img {
	width: 150px;
}

nav ul li:first-child {
	margin-right: auto;
} 

@media screen and (max-width: 1174px) {
	nav {
		display: none;
	}
	nav ul {
		width: 100%;
	}
}
/* Navigation Bar Ends Here */


/* Section Hero Goes Here */
#hero {
	background-image: url(../img/hero.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

#hero .container {
	background-color: rgba(0,0,0,0.65);
	height: 100%;
}

#hero .container .parent {
	width: 1174px;
	margin: auto;
	padding: 50px;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}

#hero .container .parent .child h1 {
	color: white;
	font-size: 60px;
	font-weight: 900;
}

#hero .container .parent .child .btn-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#hero .container .parent .child .btn-wrapper a {
	border: 2px solid white;
	background: transparent;
	color: white;
	text-decoration: none;
	padding: 15px 25px;
	margin-right: 25px;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.d-flex {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	height: 100%;
	flex-direction: column;
}

#hero .container .parent .child .btn-wrapper a.bg-white {
	background: white;
	color: black;
	border: 2px solid white;
}

@media screen and (max-width: 1174px) {
	#hero {
		
	}

	#hero .container .parent {
		width: 100%;
		height: 100%;
		padding: 15px;
	}

	#hero .container .parent .child h1 {
		font-size: 35px;
		margin-bottom: 25px;
	}

	#hero .container .parent .child .btn-wrapper a {
		font-size: 14px;
		padding: 15px 15px;
		margin-right: 15px;
	}
}
/* Section Hero Ends Here */

/* Section About Goes Here */
#about {
	margin: 25px 0;
}

#about .container {
	width: 1174px;
	margin: auto;
}

#about .container .parent {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

#about .container .parent .child img {
	width: 100%;
	border-radius: 25px;
}

#about .container .parent .child-text {
	padding: 25px;
} 

#about .container .parent .child p {
	margin-bottom: 35px;
}

#about .container .parent .child h1 {
	padding: 20px 0;
	font-size: 70px;
	-webkit-text-stroke: 1px black;
  	-webkit-text-fill-color: transparent;  
  	width: 100%;
    text-align: left;
    z-index: -1;
    opacity: 0.6;
}

#about .container .parent .child a {
	border: 2px solid black;
	background: transparent;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 15px 25px;
	border-radius: 8px;
}

@media screen and (max-width: 1174px) {
	#about {
		padding: 15px;
		margin: 0;
	}

	#about .container {
		width: 100%;
	}

	#about .container .parent {
		flex-wrap: wrap;
	}

	#about .container .parent .child p {
		font-size: 18px;
	}

	#about .container .parent .child {
		width: 100%;
	}
}
/* Section About Ends Here */


/* Courses Section Goes Here */
#courses {

}

#courses .container {
	border-bottom: 1px solid black;
}



#courses .container .parent {
	width: 1174px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px;
	transition: all .3s ease;
}  

#courses .container .parent:hover {
	cursor: pointer;
/*	padding: 28px;
*/}

#courses .container .parent:hover i {
	transform: translateX(15px);
}

/*#courses .container .parent:hover h1 {
	color: #323b7e!important;
	font-size: 48px;
	transform: translateX(25px);
}*/

#courses .container .parent.first-parent {
	transition: all .3s ease;
	background: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all .3s ease;
}

#courses .container .parent .child h1 {
	font-size: 25px;
	transition: all .3s ease;
}

#courses .container .parent .child .title {
	font-size: 90px;
}

#courses .container .parent .child i {
	font-size: 45px;
	transition: all .3s ease;
}

/* Courses Section Ends Here */


/* Features Section Goes Here */
#features {

}

#features .container {
	width: 1174px;
	margin: auto;
}

#features .container .parent {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
}

#features .container .parent .child i {
	padding: 25px;
	background-color: black;
	color: white;
	border-radius: 15px;
}

#features .container .parent .child {
	width: calc(100% / 3.5);
	margin: 12px;
	padding: 12px;
	border: 1px solid black;
	border-radius: 15px;
	text-align: center;
}

#features .container .parent .child h1 {
	margin: 15px 0 25px 0;
}
/* Features Section Goes Here */


/* Footer Section Goes Here */
footer {
	background: black;
	margin-top: 80px;
}

footer .container {
	width: 1174px;
	margin: auto;
	padding: 50px 0;
}

footer .container .parent {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer .container .parent .child {
	color: white;
	width: calc(100% / 3.5);
}

footer .container .parent .child h1 {
	color: #959595;
	font-size: 24px;
	margin-bottom: 12px;
}

footer .container .parent .child p {
	font-size: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer .container .parent {
	margin-bottom: 50px;
}

footer .container .parent .child h2 {
	font-size: 60px;
}

footer .container .parent .child form input,
footer .container .parent .child form button  {
	background: transparent;
	border: 1px solid white;
	outline: 0;
	color: white;
	padding: 15px 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

footer .container .parent .child form button {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

@media screen and (max-width: 1174px) {
	footer .container, footer .container .parent .child {
		width: 100%!important;
	}

	footer .container .parent {
		flex-wrap: wrap;
	}

	footer .container {
		padding: 25px;
	}
}
/* Footer Section Ends Here */

/* GLobals */
.title {
	-webkit-text-stroke: 1px black;
  	-webkit-text-fill-color: transparent;  
  	font-size: 65px;
  	font-weight: 900;
  	margin: 55px 0 15px 0;
}